/* 개념*/
/* containing block: 부모상자, 하위를 묶어두는 것 */
/* 미디어 쿼리: 뷰포트 기준 */
/* 컨테이너 쿼리: 부모상자의 크기에 따라서 자식을 다르게 표시하는 것 */
/* 사용법 */
/* container type: inline-size(=width) 기준 */

body {
  margin: 20px;
}

h1,
.control {
  margin-block: 16px;
}

.post {
  box-shadow: 0 0 0 5px currentColor;
  /* 부모크기에 적용! */
  container-type: inline-size;
  container-name: euid;
  /* 속기법: container: inline-size / euid; */
  /* inline-size: 300px; */
}
/* 조부모 크기 */
.bootcamp {
  inline-size: 400px;
}
.card {
  background: #ffc;
  padding: 20px;

  h2 {
    color: rgb(255, 107, 223);
  }

  @container euid (width>=600px) {
    background-color: #fcf;

    h2 {
      color: green;
    }
  }
}

/* 레이아웃 */
.wrapper {
  box-shadow: 0 0 0 5px currentColor;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  .cell {
    container-type: inline-size;
  }
}
